/* Fonts & Icons */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Rubik:wght@500;700;900&display=swap');
body {
    margin: 0px;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration-color: none;
    box-sizing: border-box;
}

::before,::after {
    box-sizing: border-box;
}

.section {
    background-color: #f2f2fc;
    min-height: 100vh;
    display: block;
}
.main-content {
    padding-left: 270px;
}

/* Aside */
.aside {
    width: 270px;
    background-color: #fdf9ff;    
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    border-right: 1px solid #e8dfec;
    padding:30px
}

.aside .logo{
    padding: 30px 0;
}

.aside .logo a{
    font-size: 40px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    background-color: #ededed;
}

.aside .logo a::before {
    content: '';
    height: 20px;
    width: 20px;
    background-color: skyblue;
    position: absolute;
    top: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    height: 20px;
    width: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.aside #nav {
    background-color: #ededed;
    list-style: none;
    margin: 80px 0;
}



.aside .copyright-text {
    background-color: #ededed;
}


/* misc. */
.container {
    display: grid;
    grid-template-columns: 1fr;
}

.jumbotron{
    text-align: center;
}

/* Nav Styles */
.navbar {
    background-color: aquamarine;
}

.navWrapper {
    display: flex;
    justify-content: space-between;
    padding: 32px;

}
.leftSide{
    display: flex;
}

.navWrapper > .leftSide > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;

}

.navLinkWrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.navLinkWrapper a{
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}
.navLinkWrapper:hover{
    border-bottom: 1px solid black;

}
.navLinkWrapper a:hover{
    color: black;
}

/* Portfolio Styles */

.self-portrait {
    height: 100%;
    max-height: 400px;
    width: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.portfolioItemsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.portfolioItemWrap {
    position: relative;
}

.portfolioImgBack {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.imgTextWrap {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logoWrap img{
    width: 50%;
    margin-bottom: 20px;
}

.imgTextWrap .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
}

.imgTextWrap:hover .subtitle {
    font-weight: 600;
    color: violet;
}

.imgDarken {
    transition: 1s;
    filter: brightness(10%);
}


